<header class="main-header" role="banner">
  <div class="container">
    {{ page.header }}

    <div class="main-navigation">
      {{page.main_navigation}}
    </div>   

  </div>  
  </header>

<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.27.7'><\/script>".replace("HOST", location.hostname));
//]]></script>  