{#  SITEWIDE NAVIGATION #}
<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
crossorigin="anonymous">
<link rel="stylesheet" href="./css/styles/styles.css">
</head>
<header class="main-header" role="banner">
    
    <nav class="main-navigation">
      {# <a class="nav-logo" ><img src="themes/custom/endymion/images/logo.svg"/> </a> #}
       {{ page.header }}
      <div class="nav-bars">
        <i class="fas fa-bars"></i>
      </div>  
        <div class="nav-menu">
        {#
          <a href="/" class="nav-links">Home</a>
          <a href="/" class="nav-links">Products</a>
          <a href="/" class="nav-links">Services</a> #}
           <div class="nav-links">
            {{page.main_navigation}}
           </div>
          <a href="/" class="nav-links" id="button">Sign Up</a>
        
       
       </div>
      </div>
    </nav> 

    {# HERO SECTION #}
  

    
  </header>

<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.27.7'><\/script>".replace("HOST", location.hostname));
//]]></script>  