.main-header {
    height: 200px;
    background: url(../images/hero2.jpg) no-repeat center center;
   
    .logo{
        @include span(3);
        margin-top: 35px;
        img{
            max-width: 100%;
        }
    }
    
    .main-navigation{ 
        @include span(4);
        padding-top: 60px;
        padding-left: 30px;
        display: block;
        width: fit-content;
        font-size: 30px;
        background: none;
        border: none;
        
        
        /* individual top elements */
        a{
            color: #efefef;
            text-transform: uppercase;
            text-align: center;
            /*
            text-decoration: none;
            padding: 0 10px;
           
             */
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            /* actual animation */
            
            .main-navigation a:before, .main-navigation a:after {
                position: absolute;
                left: 0px;
                width: 100%;
                height: 2px;
                background: #FFF;
                content: "";
                opacity: 0;
                transition: all 0.3s;
            }
        }
    
    
        li{
            position: relative;
            list-style: none;
        }
      
    
        ul ul{
            position: absolute;
            float: none;
            width: 140px;
            font-size: 15px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
    
            /* li {
                float: none;
                position: relative;
                background: white;
                margin-left: auto;
                margin-right: auto;
            
    
                a {
                    color: #2BA6CB;
                    padding: 5px;
                    border-bottom: 1px solid #efefef;
                    text-decoration: none;
                
                    &:hover {
                        background: #2BA6CB;
                        color: white;
                        text-decoration: none;        
                        
                    }
               }  
            }  */
        }
    
        .sub-menu {
            display: none;
        }
    
        .menu-item-4:hover .sub-menu{
            display: block;
        }
    
    }
}


/*
.main-header {
    height: 200px;
    background: url(../images/hero2.jpg) no-repeat center center;
   
}

.logo{
    @include span(4.5);
    margin-top: 35px;
    img{
        max-width: 100%;
    }
}

.main-navigation{ 
    @include span(2);
    padding: 15px;
    display: inline-block;
    width: fit-content;
    background: white;
    border: 2px solid grey;
    top: 0px;

    
    
    a{
        display: block;
        color: white;
        text-decoration: none;
        padding: 0 10px;
        color: #2BA6CB;
        text-align: center;
        
        &:hover {
            text-decoration: underline;
        }
    }


    li{
        position: relative;
        list-style: none;
        
    }
  

    ul ul{
        position: absolute;
        float: none;
        width: 120px;
        
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        li {
            float: none;
            position: relative;
            background: white;
            margin-left: auto;
            margin-right: auto;
        

            a {
                color: #2BA6CB;
                padding: 5px;
                border-bottom: 1px solid #efefef;
                text-decoration: none;
            
                &:hover {
                    background: #2BA6CB;
                    color: white;
                    text-decoration: none;        
                }
           }  
        } 
    }

    .sub-menu {
        display: none;
    }

    .menu-item-4:hover .sub-menu{
        display: block;
    }

}

*/