@import 'media-queries';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

%align-center{
    display: flex;
    align-items: center;
}


.main-navigation {

    background: url(../images/hero2.jpg) center;
    height: 175px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw-1200px) /2); 
    text-transform: uppercase;
    position: relative;
    top: 0;

    .nav-logo {
       
       max-width: 100px;
       cursor: pointer;
       margin: 30px 30px;
       @extend %align-center;
    }

    .nav-bars {
        opacity: 0;

        @include tablet {
            color: #eceaea;
            opacity: 1;
            position: absolute;
            top: 22px;
            right: 20px;
            font-size: 2.5rem;
            cursor: pointer;
        }
    }

    .nav-menu {
        @extend %align-center;
        list-style: none;
        text-align: center;
        margin-top: 15px;
        margin-right: 24px;
        font-weight: bold;
        font-size: 20px;

        @include tablet {
            display: none;
        }
        

        .nav-links a{
            @extend %align-center;
            list-style: none;
            color: #eceaea;
            justify-content: center;
            text-decoration: none;
            padding: 0 1rem;

            &:hover {
                color: limegreen;
                transition: all 0.3s ease;
            }

        
        }
        ul ul {
            @extend %align-center;
            position: absolute;
            float: left;
            justify-content: space-around;
            list-style: none;
            font-size: 0.95rem;
            margin: auto;
            margin-bottom: 5px;
            text-align: center;
            padding: 7px;
            border: black;
             
            li {
                justify-content: space-between;
                margin-bottom: 5px;
            }
            
        }

        .sub-menu {
            display: none;
        }
    
        .menu-item-4:hover .sub-menu{
            @extend %align-center;
            position: absolute;
            display: block;
            text-align: center;
            justify-content: space-between;
        }

        #button {
            padding: 12px 24px;
            border: none;
            outline: none;
            border-radius: 4px;
            background: limegreen;
            margin-left: 16px;
            color: #eceaea;
            

            &:hover {
                background: rgb(224, 84, 166);
                transition: all 0.3s ease 0.2s;
            }
        }
    }


}





/*
.main-header {
    height: 200px;
    background: url(../images/hero2.jpg) no-repeat center center;
   
    .logo{
        @include span(3);
        margin-top: 35px;
        img{
            max-width: 100%;
        }
    }
    
    .main-navigation{ 
        @include span(4);
        padding-top: 60px;
        padding-left: 30px;
        display: block;
        width: fit-content;
        font-size: 30px;
        background: none;
        border: none;
        
        
        
        a{
            color: #efefef;
            text-transform: uppercase;
            text-align: center;
            
            text-decoration: none;
            padding: 0 10px;
           
             
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            
            
            &:hover {
                height: auto;
                border-top: 2px solid #fff;
                border-bottom: 2px solid #fff;
                transition: all 0.3s ease;
                transition: all 0.4s ease;
            }

        }
    
    
        li{
            position: relative;
            list-style: none;
        }
      
    
        ul ul{
            position: absolute;
            float: none;
            width: 140px;
            font-size: 15px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
    
            /* li {
                float: none;
                position: relative;
                background: white;
                margin-left: auto;
                margin-right: auto;
            
    
                a {
                    color: #2BA6CB;
                    padding: 5px;
                    border-bottom: 1px solid #efefef;
                    text-decoration: none;
                
                    &:hover {
                        background: #2BA6CB;
                        color: white;
                        text-decoration: none;        
                        
                    }
               }  
            }  
        }
    
        .sub-menu {
            display: none;
        }
    
        .menu-item-4:hover .sub-menu{
            display: block;
        }


    
    }
}
*/